body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  #container{
    max-width: 800px;
    margin: 100px auto;
    background-color: #ffe595;
    padding: 40px;
    border:2px solid #aa0b00;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(17, 28, 32, 0.1);

  }
  h2 {
    color: #aa0b00;
  }

  #taskList {
    list-style-type: none;
    padding: 0;
    width: 300px;
    margin: 20px 0;
  }

  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #aa0b00;
    margin: 5px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .task input[type="text"] {
    width: 60%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }

  .task button {
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .edit-btn {
    background-color: #2196F3;
    color: white;
    margin-right: 10px;
  }

  .delete-btn {
    background-color: #f44336;
    color: white;
  }

  #addItemContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  #addItemInput {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }

  #addTaskButton {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #aa0b00;
    color: white;
    cursor: pointer;
  }